@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Blinker',sans-serif;   
    overflow-x: hidden;
    
}
body{
  height: 100vh;
  overflow:hidden;
  
}
section{
  scroll-snap-align: center;

}
body{
  background-image: linear-gradient(to bottom,#1a233b,black,#1a233b);
}
.container{
  width:100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}


.logo{
  margin-left: 6%;
  font-size: 2.6em;
  font-family: sans-serif;
  margin-top: 0px;
  color: white;
}
#header{
  display: flex;
  justify-content: space-between;
  background-color: #131721;
  margin:0;
  padding: 0.5em 0;
  height: fit-content;
  
}

.main-navbar{
    float:right
    top: 0%;
    padding:1px 1px;
    margin: 0;
    text-align: center;
    

    
}  
.main-navbar ul{
    line-height: 2.5em;
    list-style: none; 
    width: 100%;  
    
  }
.main-navbar ul li{
    display: inline;
    padding-top: 2em;
    margin-left:0.5vw;
    margin-right:0.5vw;
    
  }
.main-navbar ul li a{
    
    text-decoration: none;    
    font-family: 'Blinker','Poppins',sans-serif;
    font-size: 1em;
   
    padding:5px 1vw ;
    
    min-width: 30px;
     
    color: white;
    border-bottom: 0.2em solid white ;
}
.main-navbar ul li a:hover{
    color: black;
    background-color: white;
    border-color:  rgb(97, 97, 97);
}

.showcase{
    background-image: url(bgFirst.jpg);
    background-color: #10151B;
    justify-content: center;
    align-items: center;
    background-position: center;
    padding-bottom: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.model-name{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45vh; 
    margin-top: 0;
    
     
}
.model-name h2{
    min-width: max-content;
    position: relative;
    font-size: 8em;
    font-weight: 400;
    font-family: 'Blinker','Chango','Lobster';
    color:white;
    
    -webkit-text-stroke: 0.03em black;
    -moz-text-stroke: 0.03em black;
    
    
}
.model-name h2::before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    color:#131721;
    -webkit-text-stroke: 0.03em white;
    -moz-text-stroke: 0.03em rgb(255, 255, 255);
    overflow: hidden;
    animation: animate 5s linear infinite;

}
@keyframes animate
{
    0%,10%,30%
    {
        width: 0%;
    }
    70%,90%
    {
        width: 100%;
    }
   
}
.btn{
    display: flex;
    margin: auto;
    width: max-content;
    
    align-items: center;
    margin-bottom: 35vh;
    padding: 6px 10px;
    border:2px  solid transparent;
   
    line-height: 30px;
    
    justify-content: space-around;
    margin-top: 25px;
    text-decoration: none;
    font-size: 1em;
    color: white;  
    font-family: 'Blinker','Ranchers',sans-serif; 
    font-weight:bolder;
}

.btn:hover{
    transform: scale(0.98);
    color:black;
    border-color:white;
    background-color: white;
    
}
#about{
  width: 100%;
  height: 100vh;
  color: white;
  /*background-color: #131721;*/
  font-size: 20px;
  padding: 2vh 10% 2vh 10%;
  
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
#about h2{
  font-family: 'Blinker','Ranchers',sans-serif;
}
#about p{
 margin-top: 2em;
}
iframe{
  margin: 40px auto 0;
  border: white 4px solid;
  width:53vw;
  height:30vw;
  min-width: 433px;
  min-height:245px ;
  
}
@media(max-width:900px)
{
  #about{
    padding-left: 1px;
    padding-right: 1px;
  }
  iframe{
    width:433;
    height:245;
  }
}
#tagline-videobg{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color:white;
  
  
  }
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
    
  
  }
  
.video-container video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
.video-container:after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
  
.content{
    font-size: 4.5em;  
    z-index: 10;
    width: 80%;
  }

/* mfnffffffffffffffffffffffffffffffffffff*/


/* mfnffffffffffffffffffffffffffffffffffff*/

#land{
    /*background-color:#131721; */
    width: 100vw;
    padding-bottom: 5vh;
    
  }
.image1{
    margin:4vh 10vw 0vh;
    min-height: 400px; 
    width: 75%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0; 
    background-origin: content-box;
    
  }
  
#air{
  /*background-color: #131721; */
  width: 100vw;
  padding-bottom: 5vh;
  
}
.image2{
  margin:4vh 10vw 0vh;
  min-height: 400px;  
  width:75%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom:0 ; 
}
#water{
  /*background-color:#131721; */
  width: 100vw;
  padding-bottom: 5vh;
  
}
.image3{
  margin:4vh 10vw 0vh;
  min-height: 400px;
  width: 75%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0;   
}

.features{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color:aliceblue;
  margin:1px 10% ;
  padding:0 0;
  width: 75%;
  
  text-align: center;
  font-size: 1.3em;
  grid-gap: 0.3em;
}
.f1{
  border: 2px solid white;
  
}
.f1:hover{
  background-color: white;
  transform: scale(0.98);
  color:black;
}
.f2{
  border: 2px solid white;
}
.f2:hover{
  background-color: white;
  transform: scale(0.98);
  color:black;
}
.f3{
  border: 2px solid white;
}
.f3:hover{
  background-color: white;
  transform: scale(0.98);
  color:black;
}
.f4{
  border: 2px solid white;
}
.f4:hover{
  background-color: white;
  transform: scale(0.98);
  color:black;
}
/* mfnffffffffffffffffffffffffffffffffffff*/

#social{
    background-color: black;
    margin: 0px 0px;
    color:white ;
    font-size: 1em;
    text-align: center;
    width:100%;
    padding: 3px 0; 
  }
#social p{
    padding: 5px 0;
  }
#social a{
    color: white;
    padding:5px 5px;
  }
#social a:hover{
    color: rgb(169, 174, 199);
    
  }
      





  /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 12%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 8; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: transparent; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 250px;
}

/* The navigation menu links */
.sidenav a {
  padding: 3px 8px 6px 3px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  overflow: hidden;
  border-color: white;
  z-index: 5px;
}
.sidenav a{
  border-left:solid white 3px;
  margin-bottom: 5px;
  padding-left: 2px;
  /* background-color: rgba(94, 94, 94, 0.418); */
  background-image: linear-gradient(to right, rgba(100,100,100,0.2), rgba(255,0,0,0));
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #90ffec;
}

/* Style page content */


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width:1235px)
{
  .sidenav a{
    
    display: none;
  }
  .sidenav{
    
    display: none;
  }
  #side{
    display: none;
    
  }
  
}


